
@import "compass/css3";

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
  }
  
  .home-banner {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-top: 99px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 153px;
    background-size: auto;
    justify-content: space-between;
    background-image:  url('Assets/euroxnew.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .GSbtn {
    color: rgb(221, 162, 255);
    padding: 20px 48px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background-size: 300% 100%;
    font-family: 'Martian Mono', monospace;
    text-transform: uppercase;
    font-weight: bold;
    

  }
  .GSbtn:hover {
    background-position: 99% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ffffff, #f0e8f5, #390280ab, #c696e6, #bd64f0);
    box-shadow: 0 4px 15px 0 rgba(199, 150, 255, 0.75);
    color: white;
    text-shadow: 3px 3px 3px rgba(55, 0, 87, 0.452),0 0 10px #fff;
  }  
  .home-text {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-twounits);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .home-text1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
    color: rgb(255, 255, 255);
  }
  .home-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: b;
  }

  @media(max-width: 767px) {
    .home-banner {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-banner {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-container1 {
      align-items: center;
      flex-direction: column;
    }
    .home-button {
      margin-top: var(--dl-space-space-unit);
      margin-left: 0px;
    }
  }
  .footer-footer {
    width: 100%;
    height: 100% !important;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: white;
    
  }
  .footer-image {
    height: 5rem;
    object-fit: cover;
  }