
@import "compass/css3";

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
  }
  
  .home-banner {
    width: 1920px;
    height: auto ;
    display: flex;
    align-items: center;
    padding-top: 99px;
    flex-direction: column;
    padding-bottom: 153px;
    justify-content: space-between;
    background-image:  url('../Assets/euroxnew.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
    .IntroMsg {
      font-family: 'Rubik', sans-serif;
      color: #bd64f0;
      justify-content: left;
      font-size: 40px;
    }
    
    .WelcomeMsg {
      font-family: 'Kanit', sans-serif;
      color: #f0e8f5;
      justify-content: center !important;
      font-size: 20px;
      
    }
    
    .poweredmsg {
      font-family: 'Rubik', sans-serif;
      font-weight: 200;
      justify-items: right !important;
    }
  
  .GSbtn {
    color: rgb(229, 183, 255);
    padding: 20px 48px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background-size: 300% 100%;
    font-family: 'Martian Mono', monospace;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0000004a;

    
    
    

  }
    .GSbtn:hover {
    background-position: 99% 0;
    transition: all .7s ease-in-out;
    background-image: linear-gradient(to right, #000000, #1f062f, #471f7bab, #c696e6, #bd64f0);
    box-shadow: 0 4px 15px 0 rgba(199, 150, 255, 0.75);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(55, 0, 87, 0.452),0 0 10px #fff;
  }  
  .home-text {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-twounits);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: rgba(255,255,255,1) 0px 0px 15px;
  }
  .home-text1 {
    font-size: 6rem;
    text-align: center;
    text-shadow: 3px 1px 2px rgba(90, 179, 182, 0.51);
    text-shadow: rgba(212, 0, 255, 0.90) 0px 0px 50px;
    margin-bottom: var(--dl-space-space-unit);
    background: -webkit-linear-gradient(90deg, rgba(73,53,87,1) 0%, rgba(95,182,182,1) 5%, rgba(38,228,255,1) 10%, rgba(255,0,245,1) 50%, rgba(128,0,255,1) 90%, rgba(202,100,227,1) 95%, rgba(98,61,119,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  @media(max-width: 1920px) {
    .home-banner {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-banner {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-container1 {
      align-items: center;
      flex-direction: column;
    }
    .home-button {
      margin-top: var(--dl-space-space-unit);
      margin-left: 0px;
    }
  }
  .footer-footer {
    width: 100%;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: white;
    
  }
  .footer-image {
    height: 5rem;
    object-fit: cover;
  }

  .welcomeimg {
    width: 40%;
  }